000_dx_business/
001_git_lecture_summary/
002_python_programming_lecture_summary/
003_python_library_lecture_summary_(numpy,pandas)/
004_python_web_crawling_lecture_summary/
005_data_manipulation/
006_Data_Analysis/
007_mini_project_1/
008_mini_project_1/
009_mini_project_1/
010_Machine_Learning/
011_Machine_Learning/
012_Machine_Learning/
013_Machine_Learning/
014_Machine_Learning/
015_Machine_Learning/
016_Machine_Learning/
017_mini_project/
018_mini_project/
019_mini_project/
020_AI_evaluation/
020.5_Deep_Learning/
021_Deep_Learning/
022_Deep_Learning/
023_Deep_Learning/
024_Deep_Learning/
University/
추석 교통 소요시간 예측 이벤트/



Applied_statistics_using_Excel_and_R/
best_questions/
ipynb_note/
Management_of_Technology/
과거/
문제들/
수업 정보 Laptop/
ppt_template/

에이블스쿨 메타버스 스터디룸 제작 이벤트 안내 매뉴얼 (AI DX 공통).pdf
시간표.png
ID.txt
꿀 단축키.docx
Anaconda Navigator (anaconda3).lnk
Git Bash.lnk
zoom link.txt
Visual Studio Code.lnk
주피터 단축키.docx